body {
  background: #f8e7a5;
}

h1,
p {
  display: block;
  text-align: center;
  max-width: 100%;
  padding: 0 30px;
}

p {
  font-size: 14px;
}

a {
  color: green;
}

.link {
  padding-left: 30px;
}

.crossaint-grid-image {
  max-width: 100%;
  padding: 20px 0;
}
